@import "tailwindcss";
@plugin "daisyui"{
   themes: light --default;
    
 }

 @plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #28A745;
  --color-secondary: #F7FAFC;
  --color-accent: #3182CE;
}